em {
    font-style: normal;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Layout */
  .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
  }
  
  /* Sidebar */
  .sidebar__trigger {
    position: absolute;
    left: 0;
    /* width: 100%; */
    height: 4em;
    margin: 1rem 2rem;
    color: black;
  }
  
  .sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
  }
  
  .sidebar__nav {
    left: -15em;
    overflow: hidden;
    transition: all 0.3s ease-in;
    width: 15em;
    height: 100%;
    background: #243e56;
    color: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }
  
  .sidebar__nav:hover,
  .sidebar__nav:focus,
  .sidebar__trigger:focus + .sidebar__nav,
  .sidebar__trigger:hover + .sidebar__nav {
    left: 0;
  }
  
  .sidebar__nav ul {
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
  }
  
  .sidebar__nav ul li {
    width: 100%;
  }
  .sidebar__nav ul li a {
    color: white;
  }
  
  .sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .sidebar__nav-link em {
    /* position: absolute; */
    top: 50%;
    left: 3em;
    transform: translateY(-50%);
  }
  
  .sidebar__nav-link:hover {
    background: #4d6276;
  }
  
  .sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
  }
  
  .sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .second-list {
    margin: .5rem 0;
  }
  .sidebar__nav > .list {
    margin: 3rem 2rem;
    list-style-type: none;
  }
  .sidebar__nav > ul {
    margin: 3rem;
    /* margin: 3rem 1.5rem; */
    list-style-type: none;
  }
  
  .active-2 {
      /* background-color: black; */
      padding: 10px 15px;
      border-radius: 10px;
      box-shadow: 0 0 5px white;
      /* box-shadow: 5px 8px rgba(255, 255, 255, 0.349); */
  }
  @media only screen and (max-width: 1088px) {
    .sidebar__nav {
      position: fixed;
    }
  }
  @media (min-width: 672.1px) and (max-width: 1087px) {
    .container-style {
        padding-left: 60px;
        margin-left: unset;
        margin: auto;
      }
  }
  
  @media (min-width: 580px) and (max-width: 672px) {
      .container-style {
        margin-left: unset;
        margin: auto;
      }
  }
  @media screen and (max-width: 580px) {
    .sidebar__trigger {
      width: 15%; 
    }
    .container-style {
      margin-left: unset;
    }
  }
  /* Mobile First */
  /* Mobile First */
  @media (min-width: 42em) {
  
    /* Sidebar */
    .sidebar__trigger {
      width: 4em;
    }
  
    .sidebar__nav {
      /* width: 4em; */
      width: 0;
      left: 0;
    }
  
    .sidebar__nav:hover,
    .sidebar__nav:focus,
    .sidebar__trigger:hover + .sidebar__nav,
    .sidebar__trigger:focus + .sidebar__nav {
      width: 10em;
      z-index: 10;
    }
  }
  
  @media (min-width: 68em) {
  
    /* Sidebar */
    .sidebar__trigger {
      display: none;
    }
  
    .sidebar__nav {
      width: 10em;
      /* height: 100; */
    }
  
    .sidebar__nav ul {
      top: 1.3em;
    }
  }